.train{
    display: flex;
    width: auto;
    height: 816px;
    padding-left: 160px;
    padding-top: 25%;
    background-color:  #141416;

}
.trainT{
    margin-top: 50px;

}
.tHeader{
    font-family: SF Pro Display;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FCFCFD;

}
.tPara{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #777E90;
    margin-top: 32px;

}
.tButton{
    width: 148px;
    height:  48px;
    padding: 16px, 24px, 16px, 24px;
    border-radius: 90px;
    margin-top: 32px;
    background-color: #FF592C;
    border: none;   

}
.bt{

    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #FCFCFD;

}
.train2{
    width: auto;
    height: auto;
    padding: 61px, 19.46px, 81.59px, 20px;
    border-radius: 24px;
    margin-bottom: 160px;
    margin-left: 60px;

}
.trainI{
    width: 600px;
    height: 800px;
    margin-top: -200px;
    left: 20px;
    

}